
<div class="ink-alert basic" style="padding: 1pt;">
    <div class="box">
        <div class="column-group horizontal-gutters">
            <div class="large-25 medium-25 small-100">
                <div class="quarter-space">
                    <h4 class="ink-label info">Avg Skills <b><%= skills_avg %></b></h4>
                </div>
            </div>
            <div class="large-25 medium-25 small-100">
                <div class="quarter-space">
                    <h4 class="ink-label warning">Minutes <b><%= minutes %></b></h4>
                    <!-- per_minute -->
                </div>
            </div>
            <div class="large-50 medium-50 small-100">
                <div class="quarter-space">
                    <h4 class="ink-label error">Costs <b><%= costs %></b></h4>
                </div>
            </div>
            <div class="large-50 medium-50 small-100">
                <div class="quarter-space">
                    <h4 class="ink-label success">Done <b><%= amt_done %></b></h4>
                </div>
            </div>
            <div class="large-50 medium-50 small-100">
                <div class="quarter-space">
                    <h4 class="ink-label success">Paid <b><%= amt_paid %></b></h4>
                </div>
            </div>

            <div class="large-50 medium-50 small-100">
                <div class="quarter-space">
                    <h4 class="ink-label info">Total Done <b><%= total_amt_done %></b></h4>
                </div>
            </div>

            <div class="large-50 medium-50 small-100">
                <div class="quarter-space">
                    <h4 class="ink-label info">Total Paid <b><%= total_amt_paid %></b></h4>
                </div>
            </div>
        </div>
    </div> 
</div>